USE [master]
GO
/****** Object:  Database [DbKutuphane]    Script Date: 16.05.2026 13:22:33 ******/
CREATE DATABASE [DbKutuphane]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbKutuphane', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\DbKutuphane.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbKutuphane_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\DbKutuphane_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbKutuphane].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbKutuphane]
GO
/****** Object:  Table [dbo].[TableKitaplar]    Script Date: 16.05.2026 13:22:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKitaplar](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[KitapAdi] [varchar](100) NOT NULL,
	[YazarAdi] [varchar](40) NOT NULL,
	[YazarSoyadi] [varchar](40) NULL,
	[ISBN] [varchar](20) NULL,
	[Durum] [bit] NOT NULL,
	[OduncAlan] [int] NULL,
	[OduncAlmaTarihi] [date] NULL,
	[KitapTurKodu] [tinyint] NOT NULL,
 CONSTRAINT [PK_TableKitaplar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableKitapTurleri]    Script Date: 16.05.2026 13:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKitapTurleri](
	[KitapTurKodu] [tinyint] IDENTITY(101,1) NOT NULL,
	[Aciklama] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TableKitapTurleri] PRIMARY KEY CLUSTERED 
(
	[KitapTurKodu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableKutuphaneYoneticileri]    Script Date: 16.05.2026 13:22:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableKutuphaneYoneticileri](
	[KullaniciAdi] [varchar](20) NOT NULL,
	[Sifre] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableKitaplar]  WITH CHECK ADD  CONSTRAINT [FK_TableKitaplar_TableKitapTurleri] FOREIGN KEY([KitapTurKodu])
REFERENCES [dbo].[TableKitapTurleri] ([KitapTurKodu])
GO
ALTER TABLE [dbo].[TableKitaplar] CHECK CONSTRAINT [FK_TableKitaplar_TableKitapTurleri]
GO
USE [master]
GO
